@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;900&display=swap');

h2,h1{
    margin:3vh 0;
    font-weight: 600;
    color: #353374;
    /* margin-top: -2vh; */

    /* margin-top: 5vh; */
}

.formCont{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    /* background-color: #353374; */
    
   /* margin-top: 3rem; */
}

.formdiv{
    /* width:100%; */
    /* height:100vh; */
    display: flex;
    overflow: hidden;
    justify-content:center;
    /* align-items:flex-start; */
    /* border-radius: 20px; */
    /* padding: 10vh 0 0 0;
     */
     
    margin:10vh auto auto auto;
    box-shadow: 1px 1px 10px rgb(56, 55, 55);
    /* border: 2px solid red; */

    /* overflow-y: scroll; */
}
.form{
    /* border: 2px solid red; */
    /* width:50%; */

    /* height: 100%; */
    /* overflow-y: scroll; */
    /* background-color: white; */
    /* box-shadow: 1px 1px 1px black; */
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
    /* padding: 2rem 0.5rem; */
    /* z-index: 99; */
    background-color:white;
    /* box-shadow: 1px 1px 10px black; */

   
}
.registerBtn{
    padding:0.5rem 5rem;
}
.checkbox{
    margin: 1rem auto;
    /* width:250px */
}
Button{
    width:20rem;
    background-Color:#353374;
    border-radius: 20px;
}
.label{
    font-size: 1rem !important;
}
.hide{
    display: none !important;
}
.pop-up-display{
    width:100vw;
    height:100vh;
    overflow: hidden;
    position: fixed;
    top:0;
    left:0;
    display: flex;
     justify-content: center;
     align-items: center;
     z-index: 99;
     background-color: rgba(255, 255, 255, 0.579);
}
.pop-up-box{
    width:80%;
    background-color: white;
    box-shadow: 0.5px 0.5px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
}

.csiLogo{
    width:5rem;
    position: absolute;
    top:1rem;
    left:1rem;
    /* padding-bottom: ; */
    /* right:1rem; */
    
}

.loading{
    width: 100vw;
    height: 100vh;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.poster{
    /* width: 50%; */
    /* overflow: hidden; */
    /* position: absolute;
    top: 0;
    left: 0; */
    /* background-size: contain; */
    height: 100%;
    /* z-index: -1; */
    object-fit: contain;
    /* padding: 1vh; */
    /* border: 2px solid red; */
    margin: auto;
}
.posterImg{
    /* width: 50%; */
    height: 80vh;
    /* border: 2px solid red; */


}
@media screen and (max-width:608px) {
    .form{
        box-shadow: none;
        margin-top:1rem;
    }
   .csiLogo{
    width: 3.5rem;
   }
   

}
@media screen and (max-width:403px) {
    h2{
        font-size: 1.2rem;
    }
    h1{
        font-size: 1.5rem;
    }
    Button{
        width: 15rem;
    }
    .csiLogo{
        width: 3rem;
    }
    .form{
        margin-top: 0rem;
    }
}
@media screen and (max-width:856px){
    .formdiv{
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
        box-shadow: none;
    }
    .formCont{
        height: auto;
    }
    .form{
        width:auto;
        /* border:none; */
        background:transparent;
    
    }
    .label{
        font-size: 1rem !important;
        margin-left: 0rem !important;
    }
    .poster{
        width: 70%;
        height: auto;
        display: flex;
        justify-content: center;
    }
    .posterImg{
        height: auto;
    }
    .form{
        padding: 5vh 0 2vh 0;
       }
}

@media screen and (max-width:1062px){
    .label{
        font-size: 0.8rem !important;
        margin-left: -0.3rem !important;
    }
}
